{% load static %}
{% load i18n %}
<header class="header">
  <div class="header-1">

      <a href="{% url 'home' %}" class="logo"><i class="fas fa-utensils"></i>iBras</a>

      <div class="icons">
          <div id="search-btn" class="fas fa-search"></div>
          <a href="#" class="fas fa-heart"></a>
          <a href="{% url 'cart' %}" class="fas fa-shopping-cart">
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
          {% if user.id is None %}
          <a href="{% url 'register' %}">
            <div id="login-btn" class="fas fa-user"></div>
          </a>
          {% else %}
          <a href="{% url 'logout' %}">
            <div id="login-btn" class="fas fa-user"></div>
          </a>
          {% endif %}
      </div>

  </div>

  <div class="header-2">
      <nav class="navbar">
          <a hhref="{% url 'home' %}">iBras</a>
          <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i> All category
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'store' %}">All Products </a>
                {% for category in links %}
                  <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
                {% endfor %}
              </div>
            </div>  <!-- category-wrap.// -->
          </div> <!-- col.// -->
          <a href="{% url 'store' %}">Store</a>
          {% if user.id is None %}
          <a href="{% url 'login' %}">Sign in</a>
          <a href="{% url 'register' %}"> Register</a>
          {% else %}
          <a href="{% url 'dashboard' %}">Dashboard</a>
          <a href="{% url 'logout' %}"> Logout</a>
          {% endif %}
          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
      </nav>
  </div>


</header> <!-- section-header.// -->


<!-- header section ends -->

<!-- bottom navbar  -->

<nav class="bottom-navbar">
    <a href="{% url 'home' %}" class="fas fa-home"></a>
    <a href="#featured" class="fas fa-list">
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i> All category
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'store' %}">All Products </a>
                {% for category in links %}
                  <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }} </a>
                {% endfor %}
              </div>
            </div>  <!-- category-wrap.// -->
          </div> <!-- col.// -->
    </a>
    <a href="#arrivals" class="fas fa-search"></a>
    <a href="#reviews" class="fas fa-shopping-cart">
        <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
    </a>
    <a href="#blogs" class="fas fa-search"></a>
</nav>


<form action="{% url 'search' %}" class="search-form" method='GET'>
    <input type="search" placeholder="Search" name="keyword" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
